<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styl.css">
    <title>Live Pets</title>
</head>

<body>
    <h1>Live Pets</h1>
    <table>
        <tr th:each="livepets:${livepet}">
            <td><a th:href="@{/livepet/} + ${livepet.id}" th:text="${livepets.name}"></a></td>
            <td th:text="${livepets.species}"></td>
        </tr>
    </table>


</body>

</html>