<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Shelter</title>
</head>
<body>
    <h1>Current Shelters</h1>
    <table>
        <tr th:each="shelter:${shelters}">
            <td><h3><a th:href="@{/shelter/} + ${shelter.id}" th:text="${shelter.shelterName}"></a></h3></td>
            <h3><td th:text="${shelter.city}"></td></h3>
        </tr>
    </table>
</body>
</html>